:root {
  /* font family */
  --ff-inter: "Inter", sans-serif;
  --ff-baloo: "Baloo 2", sans-serif;

  /* font sizes */
  --fs-100: 0.8125rem;
  --fs-200: 1rem;
  --fs-300: 1.0625rem;
  --fs-400: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2.125rem;
  --fs-800: 4.25rem;
  --fs-900: 6rem;

  /* font weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-900: 900;

  /* colors */
  --clr-neutral-100: #fff;
  --clr-neutral-300: #e5e5e5;
  --clr-neutral-900: #030303;
  --clr-primary-400: #ff3369;

  --spacer: 1rem;
}

/*********/
/* reset */
/*********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
fieldset {
  margin: 0;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

ol[class],
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5;
  font-family: var(--ff-inter);
  font-size: var(--fs-300);
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .flex {
    flex-direction: row;
  }

  .flex > *:not(:first-child) {
    margin-left: 2rem;
  }
}

.bg-accent {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-400);
}

.xl-spacer {
  margin-top: 5rem;
}

/**************/
/* typography */
/**************/

h1,
.h1,
h2,
.h2 {
  font-family: var(--ff-baloo);
}

h1 {
  color: var(--clr-neutral-100);
}

h2 {
  color: var(--clr-primary-400);
}

.banner-title {
  font-size: var(--fs-800);
}

.banner-subtitle {
  color: var(--clr-neutral-100);
  font-size: var(--fs-600);
}

@media (min-width: 40rem) {
  .banner-title {
    font-size: var(--fs-900);
  }

  .banner-subtitle {
    font-size: var(--fs-700);
  }
}

.intro p {
  font-size: var(--fs-400);
}

/**************/
/* components */
/**************/

.primary-header .container {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.primary-header__nav {
  padding: 1.5rem;
}

.primary-nav {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  padding: 0.5em 0;
  background-color: var(--clr-neutral-900);
  border-radius: 1rem;
  padding: 1rem;
}

.primary-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.primary-nav a {
  font-family: var(--ff-baloo);
  font-size: var(--fs-100);
  text-decoration: none;
  color: var(--clr-neutral-100);
  transition: color 300ms;
}

@media (min-width: 40rem) {
  .primary-header {
    display: flex;
    flex-direction: column;
  }

  .primary-header__nav {
    background: var(--clr-neutral-100);
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
  }

  .primary-nav {
    position: static;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
  }

  .primary-nav ul li {
    align-self: center;
  }
}

/******************/
/* general layout */
/******************/

section {
  padding: 3rem 0;
}

@media (min-width: 40rem) {
  section {
    padding: 5rem 0;
  }

  .recipe__inner {
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 0;
  }

  .recipe__inner > * {
    flex-basis: 100%;
    padding: 0 4rem;
  }
}

/*******************/
/* general styling */
/*******************/

.hero-banner {
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe__outer {
  background: var(--clr-neutral-100);
  overflow: hidden;
}

.recipe__inner > div {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ingredients {
  border-bottom: 1px solid var(--clr-neutral-300);
}

.instructions {
  --flow-spacer: 3rem;
}

.instructions ol li {
  margin-top: var(--spacer);
}

.source {
  font-size: var(--fs-100);
  padding: 2rem 4rem;
}

.source a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

@media (min-width: 40rem) {
  .primary-nav a {
    font-family: var(--ff-baloo);
    font-size: var(--fs-200);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-neutral-900);
    transition: all 300ms;
  }

  .primary-nav a:hover {
    cursor: pointer;
    color: var(--clr-primary-400);
  }

  .intro {
    padding-bottom: 10rem;
  }

  .intro__inner {
    width: 70%;
  }

  .recipe {
    background: var(--clr-neutral-300);
  }

  .recipe__outer {
    width: min(90%, 80rem);
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: -10rem;
  }

  .recipe__inner > div {
    padding-top: 0;
    padding-bottom: 0;
  }

  .ingredients {
    --flow-spacer: 3rem;
    border-left: 1px solid var(--clr-neutral-300);
    border-bottom: 0;
  }
}
