:root {
  /* font family */
  --ff-inter: "Inter", sans-serif;
  --ff-baloo: "Baloo 2", sans-serif;

  /* font sizes */
  --fs-100: 0.8125rem;
  --fs-200: 1rem;
  --fs-300: 1.0625rem;
  --fs-400: 1.5rem;
  --fs-600: 1.75rem;
  --fs-700: 2.125rem;
  --fs-800: 4.25rem;
  --fs-900: 6rem;

  /* font weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-900: 900;

  /* colors */
  --clr-neutral-100: #fff;
  --clr-neutral-300: #e5e5e5;
  --clr-neutral-900: #030303;
  --clr-primary-400: #ff3369;

  --spacer: 1rem;
}

/*********/
/* reset */
/*********/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
fieldset {
  margin: 0;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

ol[class],
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5;
  font-family: var(--ff-inter);
  font-size: var(--fs-300);
}

/*******************/
/* utility classes */
/*******************/

.flow-content > * + * {
  margin-top: var(--spacer);
}

.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  /* flex-direction: column; */
}

.bg-accent {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-400);
}

.xl-spacer {
  margin-top: 5rem;
}

/**************/
/* typography */
/**************/

h1,
.h1,
h2,
.h2 {
  font-family: var(--ff-baloo);
}

h1 {
  color: var(--clr-neutral-100);
}

h2 {
  color: var(--clr-primary-400);
}

.banner-title {
  font-size: var(--fs-800);
}

.banner-subtitle {
  color: var(--clr-neutral-100);
  font-size: var(--fs-600);
}

@media (min-width: 40rem) {
  .banner-title {
    font-size: var(--fs-900);
  }

  .banner-subtitle {
    font-size: var(--fs-700);
  }
}

.intro p {
  font-size: var(--fs-400);
}

/**************/
/* components */
/**************/

.primary-nav a {
  font-family: var(--ff-baloo);
  font-size: var(--fs-200);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-neutral-900);
  transition: all 300ms;
}

.primary-nav a:hover {
  cursor: pointer;
  color: var(--clr-primary-400);
}

/******************/
/* general layout */
/******************/

section {
  padding: 3rem 0;
}

/*******************/
/* general styling */
/*******************/

.hero-banner {
  background-image: url(/assets/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

@media (min-width: 40rem) {
  min-height: 50vh;
}
