/* 
  --fs-100: 0.8125rem;      13px
  --fs-200: 1rem;           16px
  --fs-300: 1.0625rem;      17px
  --fs-400: 1.5rem;         24px
  --fs-600: 1.75rem;        28px
  --fs-700: 2.125rem;       34px
  --fs-800: 4.25rem;        68px
  --fs-900: 6rem;           96px
  */
